@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
* {
  box-sizing: border-box;
}
body{
  background: #383637;
  height:100vh;
}



/* -------------------------- Small Screen ------------------------ */
[class*="col-"] {
  width: 100%;
  float: left;
  border: 1px solid black;

}

@media only screen and (max-width:300px)
{
  table, thead, tbody, th, td, tr {
      display: block;
    }
}

/* -------------------------- Medium Screen ------------------------ */

@media only screen and (min-width:300px) and (max-width:500px)
{

  [class*="col-"] {
    width: 50%;
    float: left;
    border: 1px solid black;

  }

  .heading{
    display: none;
  }

  table, thead, tbody, th, td, tr {
      display: block;
    }
  .empty{
    display:none;
  }

}

/* -------------------------- Large Screen -------------------------- */
@media only screen and (min-width:500px)
{
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

img{
  width: 30vw;
}



}

/* ------------------------------ Screen End -------------------------- */
#buy_confirm img{
max-width: 25%;
max-height:50%;
display:inline-block;
float:left;
align-items: center;

}

#buy_product img{
  max-width:25%;
  max-height:25%;
  display: inline-block;
  float: left;
  align-items: center;
}

#sell_status img{
  max-width:25%;
  max-height:25%;
  display: inline-block;
  float: left;
  align-items: center;
}

#buy_status img{
  max-width:25%;
  max-height:25%;
  display: inline-block;
  float: left;
  align-items: center;
}

.weather{
  background-color: #ffffff;
}

.phone{
  width: 10%;
}

.what{
  padding:1vw;
  background-color: #43cd4d;
  text-align: justify;
}
.how{
  padding:1vw;
  background-color: #3dbea1;
}

.t_center{
  text-align: center;
}


/* -------------------- Color --------------------- */
.t_white{
  color: #ffffff;
}

.grey_color{
  background: #383637;
}

.button{
  background-color: #6afe78;
  min-height:30px;
  border-radius:10px;
}

.back{

}



.left_top{
  padding: 10px;
  float:left;
  width:46vw;
  background-color: #028b0c;
}




.child {
  float: left;
  border:2px;
  border-color: red;
  height: 33vh;
  width: 32.55vw;
  background-color:#009473;

  border:1px solid #CCC;

      box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
      cursor:pointer;


      padding: 5px;
      text-align: center;

}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.row{
  text-align:center;

}

#close {
   line-height: 12px;
   width: 25px;
   font-size: 8pt;
   font-family: tahoma;
   margin-top: 1px;
   margin-right: 2px;
   position:absolute;
   top:0;
   right:0;
}



/* ------------------------------ Table Styles -------------------------------- */

div .table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}




.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  /*height: 320px;*/
  margin: auto;
  max-width: 600px;
  padding:5px;
  /*width: 50%;*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}


a {
    color: black;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.schemes_table .nearby_hospitals tr {

}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

.nearby_hospital_input {
  border: 0;
border-bottom: 2px solid #1976D2;
width: 100%;
font-size: 30px;
line-height: 35px;
height: 70px;
text-align: center;
padding: 10px;
background: transparent;
 color: #BBDEFB;
}

.schemes_table .nearby_hospitals td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* ----------------------------------- Table End ------------------------ */

table.buy_product{
  width: 100vw;
}

table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.darkTable tfoot td {
  font-size: 12px;
}
/* ###################################BUY_INDEX############################# */
